<html>
<title>6110110015</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">MY GALLERY</h1>
  <h1>KASIRUJ KAEWKRED</h1>
  <h2>6110110015</h2>
  
</header>

<!-- Photo Grid -->
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
  <div class="w3-half">
    <img src="../blog/media/pic1.jpg" style="width:100%">
    <img src="../blog/media/pic2.jpg" style="width:100%">
    <img src="../blog/media/pic7.jpg" style="width:100%">
    <img src="../blog/media/pic3.jpg" style="width:100%">
    <img src="/w3images/nature.jpg" style="width:100%">
    <img src="../blog/media/pic4.jpg" style="width:100%">
    
  </div>

  <div class="w3-half">
    <img src="../blog/media/pic6.jpg" style="width:100%">
    <img src="../blog/media/pic5.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="../blog/media/pic8.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="../blog/media/pic9.jpg" style="width:100%">
  </div>
</div>
  
<!-- End Page Content -->
</div>



</body>
</html>
